.App {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: url("./assets/bg-img-01.webp");
  overflow-y: hidden;
}

.main_section {
  max-width: 70vw;
  width: 70vw;
  height: 120vh;
  max-height: 90vh;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  top: 5vh;
  z-index: 1;
  background-color: var(--black-700);
  color: white;
  border-radius: var(--border-radius-1);
}

/* Form UTILITY classes */
.form_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
  max-width: 50%;
  min-width: 40%;
  margin-top: 2rem;
  margin-inline: auto;
}
.form_title {
  font-size: 24px;
  font-weight: 300;
  align-self: flex-start;
}
.form_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input_field {
  outline: none;
  display: block;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-0);
}
.input_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input_label {
  font-weight: 600;
  opacity: 0.5;
}
.submit_button {
  border: 2px solid black;
  width: inherit;
  outline: none;
  background-color: black;
  color: var(--accent-lime);
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius-0);
  font-size: inherit;
  font-weight: inherit;
  transition: background-color 0.25s ease-in;
  cursor: pointer;
}
.submit_button:active,
.submit_button:hover {
  background-color: var(--accent-lime);
  color: var(--black-700);
  border-color: var(--accent-lime);
}
